<h1 class="pb-4">Explore Plants</h1>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Explore Plants</li>
    </ol>
</nav>
<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 mb-4">
    <% if(searches !='') { %>
        <% searches.forEach(function(searches, index) {  %>
            <a href="/MostSearched/<%- searches.name %>" class="col text-center category__link">
                <div class="category__img category__img--large shadow width=11 height=12 ">
                    <img src="img/<%- searches.image %>"  alt="<%- searches.name %>" loading="lazy">
                </div>
                <div class="pt-1"><%- searches.name %></div>
            </a>
        <% }) %>
    <% } %>
</div>